In [ ]:
# assignment 1

create two different example for each collection datatypes in **python**

list

In [ ]:
#example 1
# Creating a list of integers
numbers = [1, 2, 3, 4, 5]

# Accessing an element in the list
print(numbers[2]) 

# Adding an element to the list
numbers.append(6)
print(numbers) 

# Removing an element from the list
numbers.remove(3)
print(numbers)

3
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [ ]:
# example 2
# Creating a list of strings
fruits = ["apple", "banana", "orange", "kiwi"]

# Looping through the list
for fruit in fruits:
    print(fruit)
# Checking if an element exists in the list
if "pear" in fruits:
    print("Found pear!")
else:
    print("No pear found.")

apple
banana
orange
kiwi
No pear found.

**Tuples**

In [ ]:
# example 1
# Creating a tuple of coordinates
coordinates = (4.5, -3.2)

# Unpacking the tuple into variables
x, y = coordinates

# Printing the variables
print("x-coordinate: ", x)
print("y-coordinate: ", y)

x-coordinate:  4.5
y-coordinate:  -3.2

In [ ]:
# example 2
# Creating a tuple of weekdays
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

# Printing the tuple
print("Weekdays: ", weekdays)

# Slicing the tuple to get the first three weekdays
first_three_weekdays = weekdays[:3]

# Printing the sliced tuple
print("First three weekdays: ", first_three_weekdays)

# Concatenating two tuples
weekends = ("Saturday", "Sunday")
all_days = weekdays + weekends

# Printing the concatenated tuple
print("All days: ", all_days)

Weekdays:  ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
First three weekdays:  ('Monday', 'Tuesday', 'Wednesday')
All days:  ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
Weekdays:  ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
First three weekdays:  ('Monday', 'Tuesday', 'Wednesday')
All days:  ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

**sets**

In [ ]:
# example 1
# Creating a set of integers
numbers = {1, 2, 3, 4, 5}

# Adding an element to the set
numbers.add(6)
print(numbers) 
# Removing an element from the set
numbers.remove(3)
print(numbers)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [ ]:
# example 2
# Creating two sets of numbers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Performing set operations on the two sets
union = set1.union(set2)
intersection = set1.intersection(set2)
difference = set1.difference(set2)

# Printing out the results
print("Union: ", union)
print("Intersection: ", intersection)
print("Set1 - Set2: ", difference)

Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}
Set1 - Set2:  {1, 2, 3}

**Dictionaries**

In [ ]:
# example1
# Creating a dictionary of key-value pairs
student = {"name": "John", "age": 18, "grades": [80, 90, 85]}

# Accessing a value by key
print(student["name"])  

# Adding a new key-value pair
student["gender"] = "Male"
print(student)

John
{'name': 'John', 'age': 18, 'grades': [80, 90, 85], 'gender': 'Male'}

In [ ]:
# example 2
# Creating a dictionary of book titles and their authors
books = {"The Great Gatsby": "F. Scott Fitzgerald", 
         "To Kill a Mockingbird": "Harper Lee", 
         "1984": "George Orwell"}

# Looping through the dictionary
for book in books:
    print(book + " was written by " + books[book])



# Checking if a key exists in the dictionary
if "Animal Farm" in books:
    print("Found Animal Farm!")
else:
    print("No Animal Farm found.")

The Great Gatsby was written by F. Scott Fitzgerald
To Kill a Mockingbird was written by Harper Lee
1984 was written by George Orwell
No Animal Farm found.